li {
    font-weight: bold;
}

#bluebg{
    background-color: #34495e;
    color: white;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 400;
    margin-top: 10px;
    min-height: 95vh;
}